<section class="section adress">
	<div class="container">
		<h2 class="section-title d-md-none d-lg-block">Фотоцентры <span>(Москва)</span></h2>

		<div class="adress__list owl-carousel owl-theme">

			<div class="adress__item">
				<div class="adress__image">
					<img src="img/dest/adress-logo.png" alt="" width="192" height="29">
				</div>
				<div class="adress__descr">
					<h3 class="adress__title">Фотостиль</h3>
					<p class="adress__text">Москва м. Теплый Стан, Новоясеневский пр-т 1</p>
					<p class="adress__tel"><a href="tel:89158422214">+7 (915) 842-22-14</a></p>
				</div>
			</div>

			<div class="adress__item">
				<div class="adress__image">
					<img src="img/dest/adress-logo.png" alt="" width="192" height="29">
				</div>
				<div class="adress__descr">
					<h3 class="adress__title">Фотостиль</h3>
					<p class="adress__text">Москва м. Теплый Стан, Новоясеневский пр-т 1</p>
					<p class="adress__tel"><a href="tel:89158422214">+7 (915) 842-22-14</a></p>
				</div>
			</div>

			<div class="adress__item">
				<div class="adress__image">
					<img src="img/dest/adress-logo.png" alt="" width="192" height="29">
				</div>
				<div class="adress__descr">
					<h3 class="adress__title">Фотостиль</h3>
					<p class="adress__text">Москва м. Теплый Стан, Новоясеневский пр-т 1</p>
					<p class="adress__tel"><a href="tel:89158422214">+7 (915) 842-22-14</a></p>
				</div>
			</div>

			<div class="adress__item">
				<div class="adress__image">
					<img src="img/dest/adress-logo.png" alt="" width="192" height="29">
				</div>
				<div class="adress__descr">
					<h3 class="adress__title">Фотостиль</h3>
					<p class="adress__text">Москва м. Теплый Стан, Новоясеневский пр-т 1</p>
					<p class="adress__tel"><a href="tel:89158422214">+7 (915) 842-22-14</a></p>
				</div>
			</div>

			<div class="adress__item">
				<div class="adress__image">
					<img src="img/dest/adress-logo.png" alt="" width="192" height="29">
				</div>
				<div class="adress__descr">
					<h3 class="adress__title">Фотостиль</h3>
					<p class="adress__text">Москва м. Теплый Стан, Новоясеневский пр-т 1</p>
					<p class="adress__tel"><a href="tel:89158422214">+7 (915) 842-22-14</a></p>
				</div>
			</div>

		</div>

		<a href="#" class="btn btn-o adress__btn">Посмотреть фотоцентры</a>

	</div>
</section>