<section class="section find">
	<div class="container">
		<h2 class="section-title">Не нашли ваш фотоцентр?</h2>

		<div class="find__list">
			<div class="row">

				<div class="col-md-12 col-lg-6">
					<div class="find__item find__item--1">
						Если Вы не нашли в списке адресов Ваш фотоцентр, Вы можете <a href="#">выбрать центральную лабораторию
							ФОТИС.РФ</a> для выполнения Вашего заказа. При оформлении заказа, Вы сможете выбрать доставку
						транспортной компанией по России и оставить свои контактные данные
					</div>
				</div>

				<div class="col-md-12 col-lg-6">
					<div class="find__item find__item--2">
						Также, если в фотоцентре услугами которого Вы обычно пользуетесь, нет приема заказов через интернет, Вы
						можете <a href="#">сообщить о фотоцентре нам</a>, и мы свяжемся с руководством для организации сервиса по
						приему заказов
					</div>
				</div>

			</div>
		</div>
	</div>
</section>