<section class="section news">
	<div class="container">
		<h2 class="section-title">Новости проекта</h2>

		<div class="news__list owl-carousel owl-theme">

			<div class="news__item">
				<div class="row no-gutters">
					<div class="col-md-5">
						<div class="news__image">
							<img src="img/dest/news-image.jpg" alt="">
						</div>
					</div>
					<div class="col-md-7">
						<div class="news__info">
							<div class="news__text">
								<h3 class="news__title">Заголовок новости 1</h3>
								<p class="news__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut suscipit habitasse non feugiat.</p>
							</div>
							<div class="news__more">
								<a href="#" class="news__link">Читать полностью</a>
								<time datetime="2020-06-15">15 июня 2020</time>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="news__item">
				<div class="row no-gutters">
					<div class="col-md-5">
						<div class="news__image">
							<img src="img/dest/news-image.jpg" alt="">
						</div>
					</div>
					<div class="col-md-7">
						<div class="news__info">
							<div class="news__text">
								<h3 class="news__title">Заголовок новости 2</h3>
								<p class="news__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut suscipit habitasse non feugiat.</p>
							</div>
							<div class="news__more">
								<a href="#" class="news__link">Читать полностью</a>
								<time datetime="2020-06-15">15 июня 2020</time>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="news__item">
				<div class="row no-gutters">
					<div class="col-md-5">
						<div class="news__image">
							<img src="img/dest/news-image.jpg" alt="">
						</div>
					</div>
					<div class="col-md-7">
						<div class="news__info">
							<div class="news__text">
								<h3 class="news__title">Заголовок новости 3</h3>
								<p class="news__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut suscipit habitasse non feugiat.</p>
							</div>
							<div class="news__more">
								<a href="#" class="news__link">Читать полностью</a>
								<time datetime="2020-06-15">15 июня 2020</time>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="news__item">
				<div class="row no-gutters">
					<div class="col-md-5">
						<div class="news__image">
							<img src="img/dest/news-image.jpg" alt="">
						</div>
					</div>
					<div class="col-md-7">
						<div class="news__info">
							<div class="news__text">
								<h3 class="news__title">Заголовок новости 4</h3>
								<p class="news__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut suscipit habitasse non feugiat.</p>
							</div>
							<div class="news__more">
								<a href="#" class="news__link">Читать полностью</a>
								<time datetime="2020-06-15">15 июня 2020</time>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>