<section class="section save">
	<div class="container">
		<h2 class="section-title">Экономьте время</h2>

		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="save__descr">
					<p>На одном сайте, мы объединяем фотоцентры из <br> разных городов СНГ и предоставляем удобную возможность
						<br> для оформления заказов на фотоуслуги.</p>
					<p><b>Оформленные заказы распределяются по фотоцентрам <br> программным обеспечением и выполняются самими
							<br> Фотоцентрами в кратчайшие сроки.</b></p>
					<h3>Быстрое оформление заказов в фотоцентрах рядом с домом.</h3>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="save__picture">
					<p>Сервис <b>Фотис.РФ</b> — Простая возможность фотолюбителям оформить заказы на печать фотографий,
						изготовление фото-книг или фото-сувениров через интернет.</p>
					<img src="img/dest/save-notebook.jpg" alt="">
				</div>
			</div>
		</div>

	</div>
</section>