<section class="section cap">
	<div class="container">
		<h2 class="section-title">Возможности сайта</h2>

		<div class="cap__list">
			<div class="row justify-content-center">

				<div class="col-md-6 col-lg-4">
					<div class="cap__item cap__item--1">
						<h3 class="cap__title">Заказ без регистрации</h3>
						<p class="cap__descr">Заказать печать фотографий через интернет без регистрации. Напечатать фотографии с
							мобильного телефона или планшета</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="cap__item cap__item--2">
						<h3 class="cap__title">Онлайн редактор</h3>
						<p class="cap__descr">Заказать изготовление фотокниг в удобном и быстром онлайн- редакторе на сайте.
							Создать дизайн фотокниги из шаблона</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="cap__item cap__item--3">
						<h3 class="cap__title">Заказ фотосувениров</h3>
						<p class="cap__descr">Заказать фотокалендари, фото на кружках, футболках, пазлах, магнитах, брелоках и
							других фотосувенирах</p>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>