<section class="section catalog">
	<div class="container">

		<div class="catalog__list">

			<div class="catalog__item">
				<div class="row">
					<div class="col-lg-2 d-none d-lg-block">
						<div class="catalog__images">
							<img src="img/dest/catalog-foto.jpg" alt="">
							<img src="img/dest/adress-logo.png" alt="">
						</div>
					</div>
					<div class="col-md-6 col-lg-5">
						<div class="catalog__info">
							<div class="catalog__adress">
								<h3 class="catalog__title">ТРЦ Черемушки (1 этаж)</h3>
								<ul class="catalog__connect">
									<li>Фотостиль</li>
									<li>Москва м. Теплый Стан, Новоясеневский пр-т 1</li>
									<li><a href="tel:89158422214">+7 (915) 842-22-14</a></li>
									<li>Ежедневно с 10:00 до 22:00, без перерыва</li>
									<li><a href="mailto:otostil@mail.ru">fotostil@mail.ru</a></li>
								</ul>
							</div>
							<ul class="catalog__conditions">
								<li><b>Способы оплаты:</b> наличными и онлайн</li>
								<li><b>Срок изготовления:</b> 2 дня</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-5">
						<div class="catalog__product">
							<div class="catalog__price">
								<table class="catalog__table">
									<tr><th>Широкоформатная печать</th><th>Цена, руб.</th></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
								</table>
								<a href="#" class="catalog__link">Еще 2 продукта</a>
							</div>
							<a href="#" class="btn btn-o catalog__btn">Загрузить и заказать</a>
						</div>
					</div>
				</div>
			</div>

			<div class="catalog__item">
				<div class="row">
					<div class="col-lg-2 d-none d-lg-block">
						<div class="catalog__images">
							<img src="img/dest/catalog-foto.jpg" alt="">
							<img src="img/dest/adress-logo.png" alt="">
						</div>
					</div>
					<div class="col-md-6 col-lg-5">
						<div class="catalog__info">
							<div class="catalog__adress">
								<h3 class="catalog__title">ТРЦ Черемушки (1 этаж)</h3>
								<ul class="catalog__connect">
									<li>Фотостиль</li>
									<li>Москва м. Теплый Стан, Новоясеневский пр-т 1</li>
									<li><a href="tel:89158422214">+7 (915) 842-22-14</a></li>
									<li>Ежедневно с 10:00 до 22:00, без перерыва</li>
									<li><a href="mailto:otostil@mail.ru">fotostil@mail.ru</a></li>
								</ul>
							</div>
							<ul class="catalog__conditions">
								<li><b>Способы оплаты:</b> наличными и онлайн</li>
								<li><b>Срок изготовления:</b> 2 дня</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-5">
						<div class="catalog__product">
							<div class="catalog__price">
								<table class="catalog__table">
									<tr><th>Широкоформатная печать</th><th>Цена, руб.</th></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
								</table>
								<a href="#" class="catalog__link">Еще 2 продукта</a>
							</div>
							<a href="#" class="btn btn-o catalog__btn">Загрузить и заказать</a>
						</div>
					</div>
				</div>
			</div>

			<div class="catalog__item">
				<div class="row">
					<div class="col-lg-2 d-none d-lg-block">
						<div class="catalog__images">
							<img src="img/dest/catalog-foto.jpg" alt="">
							<img src="img/dest/adress-logo.png" alt="">
						</div>
					</div>
					<div class="col-md-6 col-lg-5">
						<div class="catalog__info">
							<div class="catalog__adress">
								<h3 class="catalog__title">ТРЦ Черемушки (1 этаж)</h3>
								<ul class="catalog__connect">
									<li>Фотостиль</li>
									<li>Москва м. Теплый Стан, Новоясеневский пр-т 1</li>
									<li><a href="tel:89158422214">+7 (915) 842-22-14</a></li>
									<li>Ежедневно с 10:00 до 22:00, без перерыва</li>
									<li><a href="mailto:otostil@mail.ru">fotostil@mail.ru</a></li>
								</ul>
							</div>
							<ul class="catalog__conditions">
								<li><b>Способы оплаты:</b> наличными и онлайн</li>
								<li><b>Срок изготовления:</b> 2 дня</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-5">
						<div class="catalog__product">
							<div class="catalog__price">
								<table class="catalog__table">
									<tr><th>Широкоформатная печать</th><th>Цена, руб.</th></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
									<tr><td>30X40</td><td>290</td></tr>
								</table>
								<a href="#" class="catalog__link">Еще 2 продукта</a>
							</div>
							<a href="#" class="btn btn-o catalog__btn">Загрузить и заказать</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>