<section class="section comfort">
	<div class="container">
		<h2 class="section-title">С нами комфортно</h2>

		<div class="comfort__list">
			<div class="row justify-content-center">

				<div class="col-md-6 col-lg-4">
					<div class="comfort__item comfort__item--1">
						<h3 class="comfort__title">Легко</h3>
						<p class="comfort__descr">Заказывайте фотографии, фотокниги или фотосувениры для себя или своих близких
						</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="comfort__item comfort__item--2">
						<h3 class="comfort__title">Быстро</h3>
						<p class="comfort__descr">Оформленные заказы сразу отправляются в фотоцентр и выполняются</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="comfort__item comfort__item--3">
						<h3 class="comfort__title">Удобно</h3>
						<p class="comfort__descr">Получите заказ удобным для Вас способом, доступным в фотоцентре</p>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>