<footer class="section footer">
	<div class="container">
		<div class="row">

			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="footer__contacts">
					<h3 class="footer__title">Контакты</h3>
					<ul class="footer__contacts">
						<li><a href="#" class="footer__link">Заказать обратный звонок</a></li>
						<li><a href="mailto:info@fotis.su" class="footer__mail">info@fotis.su</a></li>
						<li><p>© 2011-2020 Фотис.рф — заказ фотопродукции в фотоцентрах Вашего города</p></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="footer__nav">
					<h3 class="footer__title">Проект</h3>
					<ul class="footer__menu">
						<li><a href="#">Новости</a></li>
						<li><a href="#">О проекте</a></li>
						<li><a href="#">Сообщить о фотоцентре</a></li>
						<li><a href="#">Пользовательское соглашение</a></li>
						<li><a href="#">Согласие на обработку персональных данных</a></li>
						<li><a href="#">Карта сайта</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="footer__socials">
					<h3 class="footer__title">Поделиться с друзьями</h3>
					<div class="ya-share2" data-action="share" data-services="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 align-self-md-end">
				<div class="footer__payment">
					<img src="img/dest/footer-money.png" alt="">
				</div>
			</div>
		</div>
	</div>
</footer>