<section class="section news d-flex justify-content-center align-items-center">
	<div class="container">
		<div class="news__list owl-carousel owl-theme">
			<div class="news__item">
				<h3>Новость 1</h3>
			</div>
			<div class="news__item">
				<h3>Новость 2</h3>
			</div>
			<div class="news__item">
				<h3>Новость 3</h3>
			</div>
			<div class="news__item">
				<h3>Новость 4</h3>
			</div>
			<div class="news__item">
				<h3>Новость 5</h3>
			</div>
			<div class="news__item">
				<h3>Новость 6</h3>
			</div>
		</div>
	</div>
</section>