<section class="section partner">
	<div class="container">
		<h2 class="section-title">Наш надежный партнер</h2>

		<div class="partner__content">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-6">
					<div class="partner__about">
						<img class="partner__logo" src="img/dest/partner-logo.png" alt="">
						<p class="partner__descr">Компания <b>ФУДЖИФИЛЬМ</b> — мировой лидер в области технологий и продуктов для фотопечати и создания фото-изображений.
							Высочайшее качество и широкий ассортимет фотобумаги позволяет получить наилучший результат для самых разных задач!</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 order-md-3">
					<div class="partner__image">
						<img src="img/dest/partner-image.png" alt="">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="partner__activity">
						<h3 class="partner__title">Фото в Квадрате</h3>
						<p class="partner__text">Проявите творческий подход с помощью квадратных отпечатков, фотокниг и множества других продуктов! Загрузите фото с мобильного телефона или из Инстаграмм и выберите свой подходящий фотосалон</p>
						<a href="#" class="btn partner__btn">Заказать онлайн</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>